@tailwind base;
@tailwind components;
@tailwind utilities;
 

* {
  transition: all 0.2s ease-in-out;
}

/* Hides scrollbar for most modern browsers */
* { 
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
}

/* Hides scrollbar for WebKit browsers like Chrome, Safari, and Edge */
*::-webkit-scrollbar {
    display: none;
}